@media (width < 768px) {
    header {
        padding: .6rem;
        padding-top: 0;
    }

    .container-item:nth-child(1) {
        margin-top: 0;
    }

    .logo-container {
        justify-content: center;
    }

    .logo {
        width: 20%;
    }

    .logo-text {
        display: none;
    }

    #btn-install {
        width: 40%;
        padding-top: .3rem;
        padding-bottom: .3rem;
    }

    .container {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: .4rem;
        padding-left: .4rem;
        width: 95%;
    }

    .container-row {
        flex-direction: column;
    }

    .container-column:nth-child(1) {
        border: none;
        height: 70%;
        border-bottom: 1px dashed var(--border-divider);
        padding-right: .35rem;
    }

    .container-column:nth-child(2) {
        padding-left: 0;
        padding-right: 0;
        height: 100%;
    }

    body {
        overflow-y: auto;
    }

    .wrapper {
        overflow-y: auto;
    }

    .calcs-row>p {
        font-size: 1.1dvh;
        font-weight: 600;
    }

    .calcs-row {
        padding-right: .1rem;
        padding-left: .1rem;
    }

    .calcs-row.-parcels>input {
        font-size: 1.1dvh;
        width: 20px;
        text-align: center;
        border-radius: 3px;
    }

    .container-item.-calcs {
        padding: .5rem;
    }

    .container-item.-table>table>thead>tr>th:nth-child(1) {
        width: 25%;
        max-width: 25%;
    }

    .container-item.-table>table>thead>tr>th:nth-child(2) {
        width: 8%;
        max-width: 8%;
    }

    .container-item.-table>table>thead>tr>th:nth-child(3) {
        width: 30%;
        max-width: 30%;
    }


    .container-item.-table>table>thead>tr>th:nth-child(4) {
        border-right: none;
        width: 25%;
        max-width: 25%;
    }
    
}

@media ((width >=768px) and (width < 1024px)) {

    header {
        padding: .6rem;
        padding-top: 0;
    }

    .container-item:nth-child(1) {
        margin-top: 0;
    }

    .logo-container {
        justify-content: center;
    }

    .logo {
        width: 20%;
    }

    .logo-text {
        display: none;
    }

    #btn-install {
        width: 40%;
    }

    .container {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: .4rem;
        padding-left: .4rem;
        width: 95%;
    }

    .container-row {
        flex-direction: column;
    }

    .container-column:nth-child(1) {
        border: none;
        height: 70%;
        padding-right: .35rem;
        border-bottom: 1px dashed var(--border-divider);
    }

    .container-column:nth-child(2) {
        padding-left: 0;
        padding-right: 0;
        height: 100%;
    }

    body {
        overflow-y: auto;
    }

    .wrapper {
        overflow-y: auto;
    }

    .calcs-row>p {
        font-size: 1.1dvh;
        font-weight: 600;
    }

    .calcs-row {
        padding-right: .1rem;
        padding-left: .1rem;
    }

    .calcs-row.-parcels>input {
        font-size: 1.1dvh;
        width: 20px;
        text-align: center;
        border-radius: 3px;
    }

    .container-item.-calcs {
        padding: .5rem;
    }

    .container-item.-table>table>thead>tr>th:nth-child(1) {
        width: 35%;
        max-width: 35%;
    }

    .container-item.-table>table>thead>tr>th:nth-child(2) {
        width: 8%;
        max-width: 8%;
    }

    .container-item.-table>table>thead>tr>th:nth-child(4) {
        border-right: none;
        width: 20%;
        max-width: 20%;
    }
}

@media ((width >=1024px) and (width < 1200px)) {
    header {
        padding: .6rem;
        padding-top: 0;
    }

    .container-item:nth-child(1) {
        margin-top: 0;
    }

    .logo-container {
        justify-content: center;
    }

    .logo {
        width: 10%;
    }

    .logo-text {
        display: none;
    }

    .container {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: .4rem;
        padding-left: .4rem;
        width: 95%;
    }

    .container-row {
        flex-direction: column;
    }

    .container-column:nth-child(1) {
        border: none;
        height: 65%;
        padding-right: .35rem;
        border-bottom: 1px dashed var(--border-divider);
    }

    .container-column:nth-child(2) {
        padding-left: 0;
        padding-right: 0;
        height: 100%;
    }

    body {
        overflow-y: auto;
    }

    .wrapper {
        overflow-y: auto;
    }

    .calcs-row>p {
        font-size: 1.1dvh;
        font-weight: 600;
    }

    .calcs-row {
        padding-right: .1rem;
        padding-left: .1rem;
    }

    .calcs-row.-parcels>input {
        font-size: 1.1dvh;
        width: 20px;
        text-align: center;
        border-radius: 3px;
    }

    .container-item.-calcs {
        padding: .5rem;
    }

    .container-item.-table>table>thead>tr>th:nth-child(1) {
        width: 35%;
        max-width: 35%;
    }

    .container-item.-table>table>thead>tr>th:nth-child(2) {
        width: 8%;
        max-width: 8%;
    }

    .container-item.-table>table>thead>tr>th:nth-child(4) {
        width: 20%;
        max-width: 20%;
    }
}